<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AngularJs</title>
<script src="lib/angular.js"></script>
<script src="lib/angularDemo.js"></script>
<script src="lib/myController.js"></script>
</head>
<body ng-app="myapp" ng-controller="ctrl">
<h1>login form</h1><hr></hr>
<form action="next.html" ng-submit="fun($event)">
user name:<input name="uname" ng-model="un"><div style="color:red"></div><br>
password:<input type="password" name="pwd" ng-model="pw"><div style="color:red"></div><br>
<input type="submit" value="login">
</form>
</body>
</html>